<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blockwatch">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDMXAT4Yhe5wLNLiuzezokLNv2iZPgVytE"/>

        <activity android:name=".TransactionDetailActivity" android:label="@string/transaction_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider android:name="data.BlockProvider" android:authorities="com.example.blockwatch">
        </provider>

        <service android:enabled="true" android:name="utilities.BlockchainSyncIntentService"></service>

    </application>

</manifest>